{% extends "face_verification/base.html" %}
{% block content %}
	<div id="failure_container">
        <div id="logo">
            
        </div>
        <div id="text_failure">
            <p class="texto">Autenticación fallida, intente nuevamente</p>
        </div>
        <div id="btn_failure">
            <form>
                <button id="reintentar" formaction="{% url 'face-verification' %}">
                    Reintentar
                </button>
            </form>
            <form>
                <button id="cancelar" formaction="{% url 'face-verif-home' %}">
                    Cancelar
                </button>
            </form>
        </div>
    </div>
{% endblock content %}