{% extends "face_verification/base.html" %}
{% block content %}
	<div id="info_container">
            <div id="text_info">
                <p class="texto">Coloque su documento de identidad como indica la figura</p>
            </div>
            <div id="pic_info">
    
            </div>
            <div id="btn_info">
                <button id="prev" onclick="">
                    Cancelar
                </button>
                <button id="next" onclick="">
                    Siguiente
                </button>
            </div>
    </div>
{% endblock content %}